{% extends 'main/header.html' %}

{% block content %}

    <div class="row">
        {% for anime, episode in urls.items %}
            <div class="col s12 m12 l12">
                <a href={{episode}} style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{anime.anime}}</div>
                            <p>{{anime.summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}